body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	/* background: #EFEFEF; */
	background-image:url('../images/layout/bg-darkwood.jpg');
	background-repeat:repeat;
}

#page
{
	margin-top: 30px;
	margin-bottom: 40px;
	background: white;
	box-shadow: 0 0 100px 20px #000000;
}

#header
{
	margin: 0;
	padding: 0;
	background-image:url('../images/layout/website-banner.gif');
	height:200px;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #ccc;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	text-indent:-90000px;
}

#mainmenu
{
	background:#000 url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:10px 20px 10px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display:inline;
	position:relative;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	text-decoration:none;
	padding:13px 8px 10px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #000;
	background-color:#EFF4FA;
	text-decoration:none;
}

#mainmenu ul li.active a
{
	font-weight:bold;
}

#mainmenu ul ul 
{
	position:absolute;
	display:none;
	width:130px;
	top:25px;
	padding:5px;
	left:0;
	background:#000;
	z-index:1000;
}

#mainmenu ul li:hover ul 
{
	display:block;
}

#mainmenu ul li li a
{
	display:block;
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin:15px 15px 0 15px;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #ddd;
	border-left: 5px solid #aaa;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #111;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#eeeeee;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #DA7C0C;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #DA7C0C;
}

.operations li a:hover
{
	background: #ffe4c4;
}

#content table.detail-view
{
	margin-bottom:2em;
}